

    .img-text {
        width: 100%;
        height: 270px;
        display: block;
        padding-left: 130px;
        padding-top: 45px;
        background: #F1F3FF;
        border-radius: 8px;
    }

    .img-text p {
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }

    .single-box {
        position: relative;
        margin-bottom: 30px;
        display: flex;
        float: right;
    }

    .img-area {
        position: absolute;
        width: 80px;
        height: 80px;
        margin-top: 100px;
        left: 25px;
    }

    .img-area img {
        width: 100%;
    }

    .carousel-indicators {
        bottom: -40px;
    }

    .carousel-indicators .active {
        background: #5CB85F;
        color: white;
        border-color: 0;
    }

  /*FAQ*/
        .faq i {
        display: flex;
        float: right;
        margin-top: 10px;
    }